In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset) #####To create set in Python

{'banana', 'cherry', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry"}
print (len(thisset)) ## to get the len of the sets

3

In [3]:
 thisset = {"apple", "banana", "cherry", "apple"}

print(thisset) ## Example to show that sets wont allow duplicates

{'banana', 'cherry', 'apple'}

In [4]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x) ###looping in sets

banana
cherry
apple

In [5]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset) ## Condition check in sets

True

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset) ## Add method sets

{'banana', 'cherry', 'orange', 'apple'}

In [7]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset) ## To update from one set to another set

{'pineapple', 'papaya', 'banana', 'cherry', 'apple', 'mango'}

In [8]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset) ## update list item to sets

{'orange', 'kiwi', 'banana', 'cherry', 'apple'}

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset) ### Remove an item from set

{'cherry', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset) ### pop() method to remove an item, but this method will remove the last item.
       ###Remember that sets are unordered, so you will not know what item that gets removed.

banana
{'cherry', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset) ## Clear the items from set

set()

In [13]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) ## Delete the set using del() method

NameError: name 'thisset' is not defined

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)      ## union method between two sets

{1, 2, 3, 'b', 'c', 'a'}

In [15]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)   ##update set1 from set 2 using update method

{1, 2, 3, 'b', 'c', 'a'}

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x) ## intersection update will only pull the same values from both sets

{'apple'}

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)   ### this method will pull the unmatched items from both sets

{'google', 'microsoft', 'banana', 'cherry'}

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)  ### symmetric difference method will pull the unmatched items and form a new set

{'google', 'microsoft', 'banana', 'cherry'}