In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)  ## How  to create a tuple

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry","banana", "cherry")
print(thistuple)  ## Tuple allows duplictes

('apple', 'banana', 'cherry', 'banana', 'cherry')

In [5]:
thistuple = ("apple", "banana", "cherry","banana", "cherry")
print (len(thistuple))  ## Tuple allows duplictes

5

In [ ]:
thistuple = ("apple",)
print(type(thistuple)) ##  if you want to create tuple with  item then add comma post to that item for python to recognize it is tuple

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])  ## To access tuple with item 1

banana

In [7]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])  ## To access tuple with negative indexing -1

cherry

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) ## To access tuple with ranges of index

('cherry', 'orange', 'kiwi')

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:5]) ## TO access tuple starting with 0 to 4 where 5th index will be excluded

('apple', 'banana', 'cherry', 'orange', 'kiwi')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:]) ## TO access tuple starting with 2 to till end

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1]) ## TO access tuple starting with -4 to -1

('orange', 'kiwi', 'melon')

In [15]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x) #### to change tuple values Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

###But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

('apple', 'kiwi', 'cherry')

In [21]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple) #### Append method in tuple , tuple -->convert to list -->append mthod -->convert back to tuple

('apple', 'banana', 'cherry', 'orange')

In [22]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)     ## Unpackig the tuple  where in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

apple
banana
cherry

In [24]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)  ### If the number of variables is less than the number of values, you can add an * to the variable name 
            ### and the values will be assigned to the variable as a list:

apple
banana
['cherry', 'strawberry', 'raspberry']

In [25]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i]) ## Looping tuple

apple
banana
cherry

In [28]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1 ## While loop in tuple

apple
banana
cherry

In [29]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3) ## JOin two tuples

('a', 'b', 'c', 1, 2, 3)

In [31]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple) ## use * operator to mulitply the content of a tuple

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')